
body {
    font-family: 'Labrada', serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;

    background-repeat: no-repeat;
    background-size: cover;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;

  }
main{
    border-radius: 50px;
  }
 /*videos*/
  .metalicvideo video{
    max-width: 100%;
    border-radius: 50px;
    
  }
 /*keyframes*/
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes float {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(10px, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes float-lower-corner {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0px, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes float-left-corner {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(10px, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
 /*watercolour roses in the background*/
  .corner-image {
    position: fixed;
    top: 8%;
    right:0;
    left: 10%;
    animation: float 3s ease-in-out infinite;
    z-index: -3; 

  }
  .corner-image img {
 box-shadow: none;
 border: none;
 transform: rotate(-3deg);
  }
  .left-corner-image {
      position: fixed;
      margin-left: 1px;
      top: 0px;
      left: 0px;
      z-index: -1;
      width: 250px;
      animation: float-left-corner 4s ease-in-out infinite;
  }
  .left-corner-image img {
      box-shadow: none;
      border: none;
  }
  .lower-corner-image {
    position: fixed;
    top: -1;
    left: 0;
    z-index: -1;
    width: 600px;
    animation: float-lower-corner 5s ease-in-out infinite;
  }
  .lower-corner-image img {
    box-shadow: none;
    border: none;
  }
     
  /*cursor adjustment*/
  html {
    cursor: none;
  }
  .cursor-follower {
    position: relative;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    background-image: url('redtubecursor.png');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    z-index: 99999;
  }

 /*selected text change color*/
 ::selection {
  background-color: rgba(218, 68, 68, 0.1); /* slight red */
  color: #c7143e;
  z-index: 99999;
}
.pigmentgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.pigmentgrid img {
  max-width: 100%;
}

/* Header Styles */
  header {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 1rem;
    position: relative;
  }
  .melodyheader{
    display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  /* Navigation list style */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    display: flex;
  justify-content: center;
  } 
  nav li {
    display: inline-block;
    margin-right: 1rem;
    z-index: 1;
  } 
  nav ul li:hover a {
    font-size: 1.5em;
  }

  /* Main Styles */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    opacity: 0.9;
  }
  h5, h2, h4{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  h2{
    margin-left: 3px;
  }
  p {
    margin-bottom: 1rem;
    margin-left: 40px;
    margin-right: 20px;
  }
  p1{
    text-decoration: underline;
  }
  img {
    max-width: 200%;
    height: auto;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(197, 197, 197, 0.5);
    border-radius: 50px;
  }
  a {
    color: #000; /* default color */
    text-decoration: none; /* remove underline */
  }
  a:hover {
    color: rgb(194, 1, 56); /* new color on hover */
  }
  figcaption{
    font-size: 12px;
  }
  table{
    margin-left: 40px;
  }
  th{
    text-align:left
  }
  em{
    font-style:italic;
  }
  
  /* Footer Styles */
  .footnotes{
    background-color: #fff3f6;
    padding: 1rem;
    text-align: left;
    font-size: 12px;
  }
  footer{
    margin-top: 2rem;
  }

/*interactive texts holbein that reveals additional information when hover in*/
  .interactive-text {
    position: relative;
    height: 200px;
    top: 0px;
    right: 0px;
    z-index: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 90px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center; 
    transition: background-color 0.3s ease;
    font-family: 'Comfortaa', sans-serif;
  }
  .letter {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .letter:hover {
    transform: scale(2);
    letter-spacing: 10px;
    margin-left: 25px;
    margin-right: 10px;
    color: rgb(255, 13, 0);
  }
  .text-container {
    display: flex;
  }
  #info {
    margin-top: 20px;
    font-size: 25px;
  }
  
/*image heading zoom*/
.image-container {
  position: relative;
}
.image-zoom {
  overflow: hidden;
  position: relative;
  cursor: zoom-in;
}
.image-zoom img {
  display: block;
  width: 100%;
  height: 50%;
  transition: all 0.1s ease-in-out;
}
.image-zoom img:hover {
  transform: scale(2.5);
  cursor: zoom-out;
}

/*image review zoom for the drawing*/
.image-review-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-review-zoom {
  position: relative;
  overflow: hidden;
}
.image-review-zoom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  transform-origin: 50% 50%;
  transform: scale(1);
}
.image-review-zoom img:hover {
  transform: scale(2.75);
}

/*grid for 4 seasons Holbein Gouache*/ 
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}
.grid-item {
    background-color: #ffffff;
    text-align: center;
    font-size: 13px;
    border: none;
    position: relative;
    padding: 5px;
}
.grid-item img {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease;
    border-radius: 7px; 
}
.grid-item figcaption{
  margin-bottom: 5px;
}
.grid-item:hover img {
  transform: scale(1);
}

/*animate the text "Melodye Watercolour to slide in form both left and right*/
.melodyeslide {
  display: inline-block;
  position: relative;
  font-family: "Dancing Script", cursive;
   font-size: 24px;
   
}
.melodye {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
}
.melodye:first-child {
  animation-name: slide-right;
}
.melodye:last-child {
  animation-name: slide-left;
}
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.melodyeslide:hover .melodye:first-child {
  animation-name: none;
}
.melodyeslide:hover .melodye:last-child {
  animation-name: slide-left;
}

/*image holbein 12 fade in (in packaging)*/
.image-section {
  height: 600px;
  position: relative;
}
.tube12 {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.image-fade {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.image-fade.active {
  opacity: 1;
}
.image-fade img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* image shin gansai (in packaging)*/
.image-pan-section {
  height: 600px;
  position: relative;
  overflow: hidden;
}
.shingansaipan {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.shingansaipan.active {
  opacity: 1;
}
.image-pan-slide {
  height: 100%;
  width: 100%;
  position: relative;
}
.image-pan-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*image set slide (in packaging)*/
.image-set-section {
  height: 600px;
  position: relative;
  margin-bottom: 40px;
}
.holbeinsets {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; /* added overflow property */
}
.image-set-fade {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out; /* changed transition property */
}
.image-set-fade.active {
  opacity: 1;
}
.image-set-fade img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*image special set 1 slide (in packaging)*/
.image-special-section1 {
  position: relative;
  height: 100vh;
  margin-bottom: 10px;
}
.holbeinspecial1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.image-special-slide1 figure {
  width: 680px;
  height: 600px;
  margin: 0 auto;
}
.image-special-slide1 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.image-special-slide1 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-50px);
  transition: all 2s;
}
.active .image-special-slide1 {
  opacity: 1;
  transform: translateX(0);
}

/*image special set 2 slide (in packaging)*/
.image-special-section2 {
  position: relative;
  height: 100vh;
}
.holbeinspecial2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.image-special-slide2 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.image-special-slide2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-50px);
  transition: all 2s;
}
.active .image-special-slide2 {
  opacity: 1;
  transform: translateX(0);
}

/*image special set 3 slide (in packaging)*/
.image-special-slide3 {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 2s;
}
.active .image-special-slide3 {
  opacity: 1;
  transform: translateX(0);
}
.image-special-slide3 figure {
  width: 680px;
  height: 770px;
  margin: 0 auto;
  margin-top: -40px;
}

/*squeeze image adjust (in the instructions)*/
.squeeze {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.squeeze img {
  max-width: 100%;
  height: auto;
}

/*take pan adjust (in the instructions)*/
.takepan {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.takepan img {
  max-width: 100%;
  height: auto;
}

/* Style the button and its hover state*/
.btn-return-home {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.btn-return-home:hover {
  background-color: #000000;
  color: #ffffff;
}


/*Back to top button*/
.button-container {
  text-align: center;
}
#topBtn {
  background-color: #fff3f6; /* pink color */
  color: #000000; /* text color */
  border: none; /* remove button border */
  padding: 10px 20px; /* add padding */
  font-size: 12px; /* increase font size */
  border-radius: 5px; /* add rounded corners */
  cursor: pointer; /* change cursor on hover */
}
#topBtn:hover {
  background-color: #ed98c2; /* darker pink color on hover */
}
/* Scroll to the top of the page with a smooth transition */
html {
  scroll-behavior: smooth;
}

/*reviewpaper*/
.reviewpaper {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.reviewpaper.fade-in {
  opacity: 1;
}
.reviewpaper img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.reviewgrid-item {
  position: relative;
}
.reviewgrid-item figcaption {

  margin-bottom: 10px;

}

@media (min-width: 768px) {
  .reviewpaper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
}




  
